html {
  box-sizing: border-box;
}

body {
  width: 100%;
}

@media only screen and (min-width: 1400px) {
  body {
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    justify-content: center;
  }
  #root {
    max-width: 1400px;
  }
  .body-app {
    padding: 0 !important;
  }
}

#root {
  width: 100%;
}

.body-app {
  padding: 0 1rem 0 1rem;
}

.container {
  width: 85%;
}

.modal {
  background-color: rgb(218, 51, 59);
}

/* To override default modal   */
.modal-footer {
  padding: 0 !important;
  height: 0 !important;
}

.card-panel {
  padding: 0 !important;
}

.card-panel:hover {
  background-color: rgb(34, 1, 1) !important;
  cursor: pointer;
}

.word-card {
  width: 100%;
  height: 100%;
}
/* AUTH FORMS */


.forms-cont {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.auth-tile {
  width: 100%;
  height: inherit;
}

.input-field input:not(.browser-default):focus:not([readonly]) {
  color: rgb(0, 0, 0);
  box-shadow: 0 1px 0 0 black;
  border-bottom: 1px solid black;
}

.card-cont {
  height: 100%;
}

.card {
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.btn-form {
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn-form button {
  margin: 0 0 1em 1em;
}

/* NAVBAR */
.brand-logo {
  margin-left: 1rem;
}


/* _________________ROOM */
.draw-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* CHAT */

.chat-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 1rem; 
  flex-direction: column;
}

.chat-box {
  background-color: azure;
  border: 2px solid rgb(85, 42, 165) ;
  width: inherit;
  height: 200px;
  margin-right: 1rem;
  flex-grow: 1;
}

.nicks {
  display: flex;
  margin-bottom: 0.5rem;
  min-height: 2.5rem;
}

.message {
  display: flex;
  margin: 0.3rem;
  height: 1rem;
}

.message p {
  margin-right: 0.3rem;
}

.message :nth-child(1) {
  font-weight: bolder;
}

/* ROOMS LIST */
.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-row-cont {
  border-radius: 5px;
  box-shadow:1.5px 1.5px 1.5px rgb(126, 120, 120);
  width: 70%;
  background-color: rgb(238, 238, 238);
  margin: 1rem;
}

.room-row-cont img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  align-self: center;
  margin: 1rem;
}

.room-row {
  display: flex;
  justify-content: space-between;
}

.room-row-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.room-row h5 {
align-self: center;
}

.room-row-info div {
  margin-bottom: 0.5rem;
}

/* CANVAS_________ */
.canvas-cont {
  display: flex;
  flex-direction: column;
}

/* @media only screen and (max-width: 1400px) {
  canvas {
  width: 100vw !important;
  max-width: 100% !important;
  height: 100vw !important;
  }
} */

/* .c-canvas { */
  /* flex-grow: 3; */
  /* width: 100% ; */
  /* max-width: 1000px !important; */
/* } */

canvas {
  background-color: rgba(243, 236, 236, 0.306) !important;
  border: 2px solid rgb(49, 1, 1);

}

.nicks {
  flex-grow: 2;
}

.edit-draw-cont {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  height: 100%;
}

.edit-draw-cont button {
margin-right: 0.5rem;
height: 100%;
}

.edit-colors {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  justify-content: space-between;
  height: 40px;
  margin-right: 0.5rem;
}

.edit-line {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
  justify-content: space-between;
  height: 40px;
}

div[disabled] {
  
    pointer-events: none;
    opacity: 0.7;
  
}

.color-picker {
  border: 2px solid black;
  border-radius: 10%;
  width: 13%;
  height: 100%;
  margin-left: 0.2rem;
}

.line-picker {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 10%;
  width: 19%;
  height: 100%;
  margin-left: 0.2rem;
}

.line-picker-dot {
  background-color: black;
  border-radius: 50%;
  align-self: center;
  height: 100%;
}

.color-selected {
  box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.795), 0 6px 20px 0 rgba(223, 0, 0, 0.788);
}

/* GAME PROCESS_____________________________________ */
.secret-word {
  background-color: cadetblue;
  text-align: center;
  letter-spacing: 2rem;
}