/* AUTH FORMS */

.forms-cont {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.auth-tile {
  width: 100%;
  height: inherit;
}

.input-field input:not(.browser-default):focus:not([readonly]) {
  color: rgb(0, 0, 0);
  box-shadow: 0 1px 0 0 black;
  border-bottom: 1px solid black;
}

.card-cont {
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn-form {
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn-form button {
  margin: 0 0 1em 1em;
}

/* NAVBAR */
.brand-logo {
  margin-left: 1rem;
}


/* CHAT */

.chat-box {
  background-color: azure;
  border: 2px solid rgb(85, 42, 165) ;
  width: 100%;
  height: 200px;
  margin-right: 1rem;
}

/* ROOMS LIST */
.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-row-cont {
  border-radius: 5px;
  box-shadow:1.5px 1.5px 1.5px rgb(126, 120, 120);
  width: 70%;
  background-color: rgb(238, 238, 238);
  margin: 1rem;
}

.room-row-cont img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  align-self: center;
  margin: 1rem;
}

.room-row {
  display: flex;
  justify-content: space-between;
}

.room-row-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.room-row h5 {
align-self: center;
}

.room-row-info div {
  margin-bottom: 0.5rem;
}